<footer class="bg-black d-flex align-items-center justify-content-center" style="height: 200px;">
    <div class="text-center text-white">
        <p>&copy; 2023 Belleza Natural. Todos los derechos reservados.</p>
        <p>
            Síguenos en:
            <a href="https://www.facebook.com" target="_blank">Facebook</a> |
            <a href="https://www.instagram.com" target="_blank">Instagram</a> |
            <a href="https://www.twitter.com" target="_blank">Twitter</a>
        </p>
    </div>
</footer>
