<div class="navbar">
    <app-navbar></app-navbar>
</div>
@if(usuario.rol === 'admin') {
    <div class="profile-container">
        <div class="profile-header">
            <img [src]="'data:image/jpeg;base64,' + usuario.profilePicture" alt="Profile Picture" class="profile-picture">
            <h2>{{ usuario.name }}</h2>
            <p>Teléfono: {{ usuario.phone }}</p>
            <p>Email: {{ usuario.email }}</p>
        </div>
        <div class="profile-appointments">
            @if(citas && citas.length > 0) {
            <h3 class="text-primary">Citas</h3>
            <div class="row">
            @for(cita of citas; track cita) {
            <div class="col-md-4 mb-4 d-flex align-items-stretch">
            <div class="card w-100">
            <div class="card-header text-center">
                <h4>Cita del {{ cita.fecha }}</h4>
            </div>
            <div class="card-body">
                <p><strong>Duración:</strong> {{ cita.duracion }} minutos</p>
                <p><strong>Precio Total:</strong> {{ cita.precioTotal }} USD</p>
            </div>
            </div>
            </div>
              } 
             </div>
             } @else {
            <p>No tienes citas programadas.</p>
            }
        </div>
        <div class="profile-appointments">
            @if(pagos && pagos.length > 0) {
                <h3>Pagos</h3>
    
            <div >
                <ul>
                    @for(pago of pagos; track pago.id) {
                    <li >
                        <div class="row">
                            <div class="col-md-4"><strong>Titular:</strong> {{ pago.tarjeta?.titular }}</div>
                            <div class="col-md-4"><strong>Monto:</strong> {{ pago.monto }} USD</div>
                            <div class="col-md-4"><strong>ID:</strong> {{ pago.id }}</div>
                            <!-- monto -->
                            <div class="col-md-4"><strong>Usuario ID:</strong> {{ pago.usuarioId }}</div>
                            <div class="col-md-4"><strong>Cita ID:</strong> {{ pago.citaId }}</div>
                        </div>
                    }
                </ul>
            </div>
            }@else {
                <p>No tienes ningun pago</p>
            }
        </div>
    </div>
} @else {
    <div class="profile-container">
        <div class="profile-header">
            <img [src]="'data:image/jpeg;base64,' + usuario.profilePicture" alt="Profile Picture" class="profile-picture">
            <h2>{{ usuario.name }}</h2>
            <p>Teléfono: {{ usuario.phone }}</p>
            <p>Email: {{ usuario.email }}</p>
        </div>
        <div class="profile-appointments">
            @if(citas && citas.length > 0) {
            <h3 class="text-primary">Citas</h3>
            @for(cita of citas; track cita){
            <div style="text-align: center;">
                <h4>Cita del {{ cita.fecha }}</h4>
                <div style="background-color: white; border: 1px solid #ccc; padding: 10px; margin-bottom: 10px;">
                    <p><strong>Duración:</strong> {{ cita.duracion }} minutos</p>
                    <p><strong>Precio Total:</strong> {{ cita.precioTotal }} USD</p>
                    <button (click)="borrarCita(cita.id)" class="btn btn-danger">Borrar</button>
                </div>
                <h5>Servicios</h5>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Duración</th>
                            <th>Categoría</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(servicio of cita.servicios; track servicio.id) {
                        <tr>
                            <td>{{ servicio.nombre }}</td>
                            <td>{{ servicio.descripcion }}</td>
                            <td>{{ servicio.precio }} USD</td>
                            <td>{{ servicio.duracion }} minutos</td>
                            <td>{{ servicio.categoria }}</td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
            }} @else {
            <p>No tienes citas programadas.</p>
            }
    
        </div>
    </div>
}


<app-footer></app-footer>