<div class="navbar">
    <app-navbar></app-navbar>

</div>
<!-- primero un form de fecha -->
 <div class="contenedor">
    @if(!citaRegistrada) {
    <div class="form-container">
        <h2>Registrar Nueva Cita</h2>

        <form (ngSubmit)="registrarCita()" #citaForm="ngForm">
            <label for="servicios">Servicios</label>
            <ul>
                @for(servicio of servicios; track servicio.id) {
                <li>
                    {{ servicio.nombre }} - {{ servicio.descripcion }}
                </li>
                }
            </ul>
            <label for="precioTotal">Total ($)</label>
            <input type="number" id="precioTotal" name="precioTotal" [(ngModel)]="cita.precioTotal" readonly />

            <label for="fecha">Fecha</label>
            <input type="date" id="fecha" name="fecha" [(ngModel)]="cita.fecha" required />

            <button type="submit" [disabled]="!citaForm.valid">Registrar Cita</button>
        </form>
    </div>
}
    @if(citaRegistrada) {
    <div class="form-container">
        <h2>Datos de Pago</h2>

        <form (ngSubmit)="procesarPago()" #pagoForm="ngForm">
            <label for="titular">Titular de la Tarjeta</label>
            <input type="text" id="titular" name="titular" [(ngModel)]="pago.titular" readonly required/>

            <label for="numero">Número de Tarjeta</label>
            <input type="text" id="numero" name="numero" [(ngModel)]="pago.numero" maxlength="19" pattern="[0-9 ]*" required placeholder="1234 5678 9012 3456" />

            <div class="row">
                <div class="col">
                    <label for="exp">Fecha de Expiración</label>
                    <input type="text" id="exp" name="exp" [(ngModel)]="pago.exp" placeholder="MM/AA" maxlength="5" required />
                </div>
                <div class="col">
                    <label for="cvv">CVV</label>
                    <input type="text" id="cvv" name="cvv" [(ngModel)]="pago.cvv" maxlength="4" required />
                </div>
            </div>

            <button type="submit" [disabled]="!pagoForm.valid">Pagar</button>
        </form>
    </div>
    }
 </div>
<app-footer></app-footer>