.parallax-container {
    position: relative;
    height: 80vh;
    overflow: hidden;
  }
  #parallax2 .parallax-background {
        background-image: url('/images/fondo1.png');

  }
  .parallax-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150%;
    background-image: url('/images/fondo2.png');
    background-size: cover;
    background-position: center;
    z-index: -1;
    transition: transform 0.1s ease-out;
  }
  
  .parallax-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 70%;
  }

  .appnavbar {
    padding: 1rem;
    background-color: #ffdf9b;
  }

  .parallax-content h1 {
    align-self: center;
  }
  .parallax-content .title{
    border-bottom: 1px solid #000000;

  }
.tabla {
    position: absolute;
    width: 50%;
    top: -30%;
    padding: 2rem;
    background-color: #ffdf9b;

}
.catalogo-container {
    width: 100%;
    min-height: 100vh;
    overflow: visible;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
 
  
.tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.tabs button {
    padding: 10px 20px;
    margin: 0 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s, color 0.3s;
}

.tabs button.active {
    border-bottom: 2px solid #000000;
}

.tabs button:hover {
    border-bottom: 2px solid #000000;
}

.servicios-grid {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  
  .servicio-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    align-items: center;
    text-align: center;
    background: #ffe8b5;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }
  .servicio-item .imagen {
    position: relative;
    height: auto;
    width: 250px;
    display: flex;
    flex-direction: column;
  }
  
  .servicio-item .imagen img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
  }
  
  .servicio-item .imagen .botones {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    width: 100%;
    z-index: 1;
  }
  .servicio-item .imagen .botones button {
    padding: 5px 10px;
    font-size: 0.9rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    text-align: center;
  }
  
  .servicio-item .imagen .botones button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .descripcion h3 {
    margin: 0;
    font-size: 1.1rem;
  }
  
  .descripcion p {
    margin: 0;
    color: #666;
  }
  
  .precio {
    font-weight: bold;
    font-size: 1.1rem;
  }