<section class="parallax-container">
  <div
    class="parallax-background"
    [ngStyle]="{ transform: 'translateY(' + offset + 'px)' }"
  ></div>
  <div class="appnavbar">
    <app-navbar></app-navbar>
  </div>
  <div class="parallax-content">
    <h1 class="title">Catálogo de Servicios</h1>
  </div>
</section>

<div class="catalogo-container">
  <div class="tabla">
    <div class="tabs">
      <button 
      (click)="tab = 'todos'" 
      [class.active]="tab === 'todos'">
      Todos
      </button>
      @for(categoria of categorias; track categoria) {
      <button 
      (click)="tab = categoria" 
      [class.active]="tab === categoria">
      {{ categoria }}
      </button>
      }
    </div>
    @if(backendCargando) {
    <div class="servicio-item" style="align-items: center; padding:20px; justify-content: center; display: flex; text-align: center;">
      <p style="margin: 0 auto;">Cargando backend</p>
    </div>
    } @else {
    <div class="servicios-grid">
      @for(servicio of serviciosFiltrados(); track servicio.id) {
      <div class="servicio-item">
        <div class="imagen">
            <div class="imagen-container" style="position: relative;">
              <img
              [src]="servicio.imagen !== 'undefined' ? 'data:image/jpeg;base64,' + servicio.imagen : '/images/default.jpg'"
              alt="{{ servicio.nombre }}"
              />
              @if(isAdmin && servicioEditando && servicioEditando.id === servicio.id) {
              <button
              class="btn btn-secondary"
              style="position: absolute; top: 10px; right: 10px;"
              (click)="cambiarImagen(servicio)"
              >
              Cambiar Imagen
              </button>
             }
            </div>
            <div class="botones">
            @if (isAdmin) { @if (!servicioEditando || servicioEditando.id !==
            servicio.id) {
            <button
              class="btn btn-secondary"
              (click)="editarServicio(servicio)"
              >
              Editar
            </button>
            <button
              class="btn btn-danger"
              (click)="deleteServicio(servicio)"
            >
              Eliminar
            </button>
            }@else{
            <button
              class="btn btn-success"
              (click)="guardarEdicion(servicioEditando); servicioEditando = null"
            >
              Guardar
            </button>
            <button
              class="btn btn-danger"
              (click)="cancelarEdicion(servicio); servicioEditando = null"
            >
              Cancelar
            </button>
            } }@else{
            <button class="btn btn-danger" (click)="reservarServicio(servicio)">
              Reservar
            </button>
            }
          </div>
        </div>
        <div class="descripcion">
          @if (!servicioEditando || servicioEditando.id !== servicio.id) {
            <h3>{{ servicio.nombre }}</h3>
            <p>{{ servicio.descripcion }}</p>
          } @else {
            <input [(ngModel)]="servicioEditando.nombre" placeholder="Nombre del servicio" />
            <input [(ngModel)]="servicioEditando.descripcion" placeholder="Descripción del servicio" />
          }
        </div>
        <div class="precio">
          @if (!servicioEditando || servicioEditando.id !== servicio.id) {
            <span>${{ servicio.precio }}</span>
          } @else {
            <input type="number" [(ngModel)]="servicioEditando.precio" placeholder="Precio del servicio" />
          }
        </div>
      </div>
      }
    </div>
    @if(isAdmin) {
    <div  style="display: flex; justify-content: center;align-items: center;  padding-top: 35px;">
      <button class="btn btn-primary" style="background-color: rgba(0, 0, 0, 0.8); border-style: none;" (click)="agregarServicio()">
      Agregar Servicio
      </button>
    </div>
    }
  } 
  </div>
</div>
<section class="parallax-container" id="parallax2">
  <div
    class="parallax-background"
    [ngStyle]="{ transform: 'translateY(' + -offset2 + 'px)' }"
  ></div>
  <div class="parallax-content"></div>
</section>
<app-footer></app-footer>
