<div class="split-screen">
    <div class="half-screen image1">
        <div class="content">
            <h2 class="roboto-mono">Uñas</h2>
            <p class="caveat">Ofrecemos servicios personalizados para el cuidado de tus uñas.</p>
            <button class="roboto-mono">Más Información</button>
        </div>
    </div>
    <div class="half-screen image2">
        <div class="content">
            <h2 class="roboto-mono">Peinados</h2>
            <p class="caveat">Descubre los mejores estilos y peinados para ti.</p>
            <button class="roboto-mono">Ver Servicios</button>
        </div>
    </div>
</div>