<div class="contact-section">
    <h2 class="roboto-mono mb-5" style="letter-spacing: 0.7em;">Contáctanos</h2>

    <div class="contact-columns">
        <div class="column">
            <h3>Nombre de la estetica</h3>
            <p>Estética Aesthetic</p>
            <p>Descripción breve de la estética.</p>
            <button class="reserve-button">Reservar ahora</button>


        </div>
        <div class="column">
            <h3>Info</h3>
            <p>Av. Fray A. Alcalde 10</p>
            <p>44100 Guad., Jal., México</p>
            <p>info misitio.com</p>
            <p>Tel: +52-1-33-12345678</p>
        </div>
        <div class="column">
            <h3>Horario laboral</h3>
            <p>Lun - Vie: 7:00 - 22:00</p>
            <p>Sábado: 8:00 - 22:00</p>
            <p>Domingo: 8:00 - 23:00</p>
        </div>
        <div class="column">
            <h3 class="text-center">Contacto</h3>
            <form>
                <div class="d-flex flex-row gap-5">
                    <input type="text" id="name" name="name" placeholder="Nombre" required />

                    <input type="email" id="email" name="email" placeholder="Email" />
    
                </div>
                <textarea id="message" name="message" rows="2" placeholder="Mensaje"></textarea>

                <button type="submit">Enviar</button>
            </form>
        </div>
        
    </div>
</div>

<div class="google-map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3153.835434509374!2d-122.4194154846814!3d37.77492927975962!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80858064f0b1b1b1%3A0x2b0b1b1b1b1b1b1b!2sSan%20Francisco%2C%20CA%2C%20USA!5e0!3m2!1sen!2sus!4v1610000000000!5m2!1sen!2sus"
        width="100%"
        height="80%"
        style="border:0;"
        allowfullscreen=""
        loading="lazy"
    ></iframe>
    <app-footer></app-footer>
</div>
