<div class="presentacion-container">
    <div class="lado-izquierdo"></div>
  
    <div class="lado-derecho">
      <div class="contenido">
        <h2 class="roboto-mono" style="letter-spacing: 0.7em;">Conócenos</h2>
        <p class="caveat">Ofrecemos servicios de belleza personalizados con calidad y pasión.</p>
        <div class="bloque-sobrepuesto">
            
        </div>
      </div>
    
  
      <img src="https://media.istockphoto.com/id/1497806504/es/foto/peluquer%C3%ADa-en-sal%C3%B3n-de-belleza-la-mujer-se-peina-en-el-sal%C3%B3n-de-belleza-moderno-estilista-seca.jpg?s=612x612&w=0&k=20&c=W4gT9tOhXW8WyK7Qz2UEV4PM75v8Pbk2QXmLQnZMM6c=" alt="Imagen sobrepuesta" class="imagen-sobrepuesta" />
    </div>
  </div>
  